# Python cache
__pycache__/
*.py[cod]

# Flask envs
.env
.env.*

# Editor & OS
.DS_Store
.vscode/
.idea/

# Logs / tmp
*.log
*.tmp

# Local files
instance/
*.db
*.sqlite3

# ML artifacts
*.pt
*.pkl
*.joblib

# Supabase/GCP credentials
credentials.json
*service*.json
